.hero-heading {
    text-align: center;
}

.hero-heading h1 {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.hero-heading button:hover {
    background-color: yellow;
    color: #0D0D0D;
}