@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Plus Jakarta Sans", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

::selection {
    background-color: #0D0D0D;
    color: #f2f2f2;
}

.desktop-nav .container {
    margin-bottom: 0;
}

.container {
    margin-bottom: 100px;
}

.desktop-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: solid 1px rgb(220, 220, 220);
}

.navbar-brand {
    font-weight: 800;
    padding-right: 125px;
}

.navbar-brand img {
    width: 20px;
    height: auto;
}

.nav-item {
    padding-right: 20px;
}

.nav-link {
    font-weight: 600;
    font-size: 15px;
}

.navbar-toggler {
    border: none;
    box-shadow: none;
    outline: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
    outline: none;
}

.hero-section.row {
    height: 500px;
    padding-top: 100px;
}

.heading h1,
.heading h2 {
    font-weight: 900;
}

.heading h1 {
    font-size: 50px;
    width: 80%;
}

.light-p {
    font-weight: 400;
}

button {
    border: 1px solid #0D0D0D;
    border-radius: 10px;
    padding: 10px;
    background-color: #0D0D0D;
    color: #f2f2f2;
    font-weight: 400;
    font-size: 12px;
}

.heading button:hover {
    background-color: #CF9704;
    border: 1px solid #CF9704;
    color: #f2f2f2;
}

.terminal-card {
    border-radius: 12px;
    background-color: #0D0D0D;
    min-height: 350px;
    padding: 20px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
}

.purple {
    color: #9058D7;
}

.orange {
    color: #CF9704;
}

.pink {
    color: #F8A6C8;
}

.col .terminal-text {
    font-family: "Courier Prime", monospace;
    color: #d4d4d4;
    font-size: 14px;
    margin-bottom: 4px;
    line-height: 1.2;
}

.terminal-text {
    font-family: "Courier Prime", monospace;
    color: #d4d4d4;
    font-size: 14px;
}

.card {
    padding: 20px;
    background-color: #0D0D0D;
    color: #f2f2f2;
    border-radius: 12px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
}

.card.basic {
    padding: 20px;
    background-color: #f2f2f2;
    color: #0D0D0D;
    border: none;
}

.card.basic button:hover {
    background-color: #CF9704;
    border: solid 1px #CF9704;
    color: #f2f2f2;
}

.card.pro {
    background-color: #0D0D0D;
    color: #f2f2f2;
    padding: 20px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
}

.card.pro button {
    background-color: #f2f2f2;
    color: #0D0D0D;
}

.card.pro button:hover {
    background-color: #CF9704;
    color: #f2f2f2;
}

.card.basic button,
.card.pro button {
    width: 100%;
}

footer {
    background-color: #0D0D0D;
    color: #f2f2f2;
}

footer a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 400;
    font-size: 12px;
}

footer a:hover {
    color: #CF9704;
}

footer button {
    background-color: #f2f2f2;
    color: #0D0D0D;
}

footer button:hover {
    background-color: #CF9704;
    color: #f2f2f2;
}

.copyright {
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-top: solid 1px rgba(220, 220, 220, 0.2);
}

.copyright p {
    font-weight: 400;
    font-size: 12px;
}

@media (min-width: 768px) {
    .mobile-nav {
        opacity: 0;
        pointer-events: none;
    }

    .desktop-nav {
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .mobile-nav {
        opacity: 1;
        background-color: #FFFFFF;
        border-bottom: solid 1px rgb(220, 220, 220);
    }

    .desktop-nav {
        opacity: 0;
        pointer-events: none;
    }

    .heading button {
        margin-bottom: 50px;
    }

    .heading h1 {
        font-size: 40px;
        width: 100%;
    }

    .container {
        margin-bottom: 50px;
    }

    .ad-container {
        margin-bottom: 50px;
    }

    .hero-card {
        margin-top: 50px;
    }

    .hero-section.row {
        height: auto;
    }

    .card {
        margin-bottom: 10px;
    }
}